{% extends 'base.html' %}
{% block title %}mymood {% endblock title %}
{% block body %}
<center>
    <div class="container my-5">
        <div style="background-image: url('/static/background1.jpeg');
        width:900px;height:450px">
        
        <div style="color:black">
            <center>
          <div class="container my-5">
          <h1> You Have a {{variable}} mood</h1>
          <h1>We have got the best playlist for you</h1>
          <br>
          <br>
          </div>
        </center>
        </div>
        </div>
    </div>
</center>
{% endblock body %}

    